                                /* Config. Universal */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar
{

    background: transparent;
}

::-webkit-scrollbar-thumb
{
    border: 10px solid transparent;
    background-color: #ff0157;
}

p
{
    font-weight: 300;
    color: #111;
}

section
{
    padding: 100px;
}

                                /* Menu de Navegação */

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
}

header.sticky
{
    background-color: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

header .logo
{
    font-size: 2em;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}

header.sticky .logo
{
    color: #111;
}

header .logo span
{
    color: #ff0157;
}

header .navigation
{
    position: relative;
    display: flex;
}

header .navigation li
{
    list-style: none;
    margin-left: 30px;
}

header .navigation a
{
    text-decoration: none;
    font-weight: 300;
    color: #fff;
}

header.sticky .navigation a
{
    color: #111;
}

header .navigation a:hover
{
    color: #ff0157;
}

                                /* Banner Principal */

.banner
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./media/bg.jpg);
    background-size: cover;
}

.banner .content{
    max-width: 900px;
    text-align: center;
}

.banner .content h2
{
    font-size: 5em;
    color: #fff;
}

.banner .content p
{
    font-size: 1em;
    color: #fff;
}

.btn
{
    font-size: 1em;
    color: #fff;
    background: #ff0157;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    transition: 0.5s;
}

.btn:hover
{
    letter-spacing: 6px;
}

                                /* Aba "Sobre" */

.row
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .col50
{
    position: relative;
    width: 48%;
}

.titleAbout
{
    color: #111;
    font-size: 2em;
    font-weight: 300;
}

.titleAbout span
{
    color: #ff0157;
    font-weight: 700;
    font-size: 1.5em;
}

.row .col50 .imgBox
{
    position: relative;
    width: 100%;
    height: 100%;
}

.row .col50 .imgBox img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

                                /* Aba "Menu" */

.title
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu .content
{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;
}

.menu .content .box
{
    width: 340px;
    margin: 20px;
    border: 15px solid rgba(252, 252, 252, 0.8);
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
}

.menu .content .box .imgBox
{
    position: relative;
    width: 100%;
    height: 300px;
}

.menu .content .box .imgBox img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu .content .box .text
{
    padding: 15px 0 5px;
}

.menu .content .box .text h3
{
    font-weight: 400;
    color: #111;
}

                                /* Aba dos "Chefs" */

.cozinheiros .content
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
}

.cozinheiros .content .box
{
    width: 250px;
    margin: 15px;
}

.cozinheiros .content .box .imgBox
{
    position: relative;
    width: 100%;
    height: 300px;
}

.cozinheiros .content .box .imgBox img
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.cozinheiros .content .box .text
{
    padding: 15px 0 5px;
}

.cozinheiros .content .box .text h3
{
    font-weight: 400;
    color: #111;
}

                                /* Aba de "Depoimentos" */

.depoimento
{
    background: url(./media/bg2.jpg);
    background-size: cover;
}

.white .titleAbout,
.white p
{
    color: #fff;
}

.depoimento .content
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}

.depoimento .content .box
{
    width: 340px;
    margin: 20px;
    padding: 40px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.depoimento .content .box .imgBox
{
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.depoimento .content .box .imgBox img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.depoimento .content .box .text
{
    text-align: center;
}

.depoimento .content .box .text p
{
    color: #666;
    font-style: italic;
}

.depoimento .content .box .text h3
{
    margin-top: 20px;
    font-size: 1em;
    color: #ff0157;
    font-weight: 600;
}

                                /* Aba "Contatos" */

.contato
{
    background: url(./media/bg3.jpg);
    background-size: cover;
}

.contato form
{
    padding: 75px 50px;
    background: rgba(252, 252, 252, 0.8);
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1); 
    max-width: 500px;
    margin-top: 50px;
}

.contato form h3
{
    font-size: 1.2em;
    color: #111;
    margin-bottom: 20px;
    font-weight: 500;
}

.contato form .inputBox
{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.contato form .inputBox input,
.contato form .inputBox textarea
{
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 1em;
    font-weight: 300;
}

.contato form .inputBox .btn2
{
    color: #fff;
    font-size: 1em;
    background: #ff0157;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    max-width: 100px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

                                /* Footer  */

footer div
{
    width: 100%;
    padding: 20px 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
}

footer div p
{
    color: #333;
}

footer div a
{
    color: #ff0157;
    text-decoration: none;
    font-weight: 500;
}

                                /* Adaptando tela  */

@media (max-width: 991px)
{
    section
    {
        padding: 20px;
    }

    header,
    header.sticky 
    {
        padding: 10px 20px;
    }

    header .navigation
    {
        display: none;
    }

    header .navigation.active
    {
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }

    
    header .navigation li 
    {
        margin-left: 0px;
    }

    header .navigation a 
    {
        color: #111;
        font-size: 1.7em;
    }

    .menuToggle
    {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(./media/menu.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .menuToggle.active
    {
        background: url(./media/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    header.sticky .menuToggle
    {
        filter: invert(1);
    }
     
    .banner .content h2 
    {
        font-size: 3em;
    }

    .row
    {
        flex-direction: column;
    }

    .row .col50
    {
        position: relative;
        width: 100%;
    }

    .row .col50 .imgBox 
    {
        height: 300px;
        margin-top: 20px;
    }

    .menu .content
    {
        margin-top: 20px;
    }

    .menu .content .box
    {
        margin: 30px 10px;
    }

    .menu .content .box .imgBox
    {
        height: 260px;
    }

    .title
    {
        text-align: center;
    }

    .titleAbout
    {
        font-size: 1.8em;
        line-height: 1.5em;
        margin-bottom: 15px;
        font-weight: 300;
    }

    .depoimento .content .box
    {
        margin: 10px;
        padding: 20px;
    }

    .contato form
    {
        padding: 35px 40px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}